.sectionHeader{
    margin-top: 5%;
    margin-left: 5%;
}

input{
    display: inline-block;
    margin-left: 5%;
    margin-top: 3%;
    color: black
}

label{
    font-size: 20px;
}

input[type=checkbox]{
    margin: 0;
}

button{
    display: inline-block;
    background-color: #403831;
    width: 150px;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    transition: background-color 0.5s;
}

button:hover{
    background-color: #57514b;
}

button:active{
    background-color: #403831;
}

.loader{
    display: inline-block;
    margin: -5px 5px;
    border: 5px solid #EAF0F6;
    border-radius: 50%;
    border-top: 5px solid #5f5755;
    width: 40px;
    height: 40px;
    animation: spinner 1s linear infinite;
}

@keyframes spinner{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.options{
    margin-left: 5%;
}

.userSummary{
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 1%;
    height: 500px;
    width: 800px;
    background-color: white;
    color: black;
    overflow: auto;
    float: left;
}

p{
    white-space: pre-line;
    word-break: break-all;
}

#userImage{
    margin-top: 1%;
    margin-left: 1%;
}